.mainBlock {
	background-color: #6b7280 ;
	padding: 0.5rem ;
	width: 18rem ;
}
.innerBlock {
	border: 1px solid #030304 ;
	border-radius: 5px ;
}
.contentBlock {
	display: flex ;
}
.colorBlock {
	margin: 0.5rem ;
	background-color: #16a34a ;
	border-radius: 50%;
	width: 5rem ;
	height: 3rem ;
} 
.textBlock {
	padding: 0.5rem ;
	color: #ffffff ;
	font-size : 12px ;
}